
<p-toast position="bottom-right" key="c"></p-toast> 
<div class="card" *ngIf="cargoDatos">
<div class="container-fluid">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
      <p-button class="boton" (click)="showModalDialog()" icon="pi pi-external-link" label="Agregar"></p-button>
    </div>
  <div class="row row-cols-lg-3 g-4 g-lg-4">
    <div *ngFor ="let item of listaCampeonatosMostrar">
      <div class="product-grid-item card" (click)="verCampeonato(item)">
        <div class="product-grid-item-content">
            <img *ngIf="item.deporte == 'Futbol' " [src]="rutaImagenFutbol" class="imgDeporte">
            <img *ngIf="item.deporte == 'Baloncesto' " [src]="rutaImagenBasket" class="imgDeporte">
            <div class="product-name">{{item.nombre_campeonato}}</div>
            <div class="product-description">Rama: {{item.rama}}</div>
            <div class="product-description">Categoria: {{item.categoria}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<p-dialog header="Agregar Campeonato" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <form [formGroup]="formDatosCampeonato" (ngSubmit)="agregarCampeonato()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.NOMBRE_CAMPEONATO}} <span
            class="estilo_campo_requerido">*</span></label>
            <input type="text" placeholder="Nombre Campeonato" class="form-control" aria-label="Nombre Campeonato" formControlName="nombreCampeonato">
            <small *ngIf="formDatosCampeonato.get('nombreCampeonato')?.errors?.required"
            class="form-text text-danger">{{mensajeNombre}}</small>
            <!-- <small *ngIf="formDatosCampeonato.get('nombreOferta')?.errors?.pattern"
            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small> -->
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.DEPORTE}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="deporte" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of deportesValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('deporte')?.errors?.required"
                        class="form-text text-danger">{{mensajeDeporte}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.CATEGORIA}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="categoria" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of categoriasValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('categoria')?.errors?.required"
                        class="form-text text-danger">{{mensajeCategoria}}</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.RAMA}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="rama" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of ramasValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('rama')?.errors?.required"
                        class="form-text text-danger">{{mensajeRama}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.LOCALIDAD}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="localidad" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of localidadesValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('localidad')?.errors?.required"
                        class="form-text text-danger">{{mensajeLocalidad}}</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.RANGO_ANNIO}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="rangoAnnio" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of rangoAnniosValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('rangoAnnio')?.errors?.required"
                        class="form-text text-danger">{{mensajeRangoAnnio}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.PLANILLA}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="planilla" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of planillasValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('planilla')?.errors?.required"
                        class="form-text text-danger">{{mensajePlanilla}}</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.DIVISION}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="division" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of divisionesValue" 
                [ngValue]="item.codigo">
                    {{ item.nombre }}
                </option>
            </select>
            <small *ngIf="formDatosCampeonato.get('division')?.errors?.required"
                        class="form-text text-danger">{{mensajeDivision}}</small>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="agregarCampeonato()" label="Guardar" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>