<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast position="bottom-right" key="c"></p-toast> 
<p-tabView>
  <p-tabPanel header="Agregar Delegado">
    <form [formGroup]="formDatosDelegado" (ngSubmit)="agregarDelegado()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.NOMBRE_DELEGADO}} <span class="estilo_campo_requerido">*</span></label>
            <input type="text" placeholder="Nombre Delegado" pInputText class="form-control" aria-label="Nombre Delegado" formControlName="nombreDelegado">
            <small *ngIf="formDatosDelegado.get('nombreDelegado')?.errors?.required"
            class="form-text text-danger">{{mensajeNombreDelegado}}</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.APELLIDO_DELEGADO}} <span class="estilo_campo_requerido">*</span></label>
            <input type="text" placeholder="Apellido Delegado" pInputText class="form-control" aria-label="Apellido Delegado" formControlName="apellidoDelegado">
            <small *ngIf="formDatosDelegado.get('apellidoDelegado')?.errors?.required"
            class="form-text text-danger">{{mensajeApellidoDelegado}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.USUARIO}} <span class="estilo_campo_requerido">*</span></label>
            <input type="text" placeholder="Usuario" pInputText class="form-control" aria-label="Usuario" formControlName="usuario">
            <small *ngIf="formDatosDelegado.get('usuario')?.errors?.required"
            class="form-text text-danger">{{mensajeUsuario}}</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.IDENTIFICACION}} <span class="estilo_campo_requerido">*</span></label>
            <input type="text" placeholder="Identificacion" pInputText class="form-control" aria-label="Identificacion" formControlName="identificacion">
            <small *ngIf="formDatosDelegado.get('identificacion')?.errors?.required"
            class="form-text text-danger">{{mensajeIdentificacion}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.ROL}} <span class="estilo_campo_requerido">*</span></label>
            <input type="text" disabled placeholder="Delegado" value="Delegado" pInputText class="form-control" aria-label="Rol" formControlName="idRol">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.CELULAR}} <span class="estilo_campo_requerido">*</span></label>
            <input type="number" placeholder="Celular" pInputText class="form-control" aria-label="Celular" formControlName="celular">
            <small *ngIf="formDatosDelegado.get('celular')?.errors?.required"
            class="form-text text-danger">{{mensajeCelular}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>{{labels.CONTRASENA}} <span class="estilo_campo_requerido">*</span></label>
          <div class="form-group"> 
            <input [type]="tipoContrasenaUno" placeholder="Ingrese contraseña" pInputText aria-label="Contraseña" formControlName="contrasena">
            <p-button [icon]="iconoOjoUno" (click)="primeraContrasena()" class="p-button-text"></p-button>
            <small *ngIf="formDatosDelegado.get('contrasena')?.errors?.required"
            class="form-text text-danger">{{mensajeContrasena}}</small>
          </div>
        </div>
        <div class="col">
          <label>{{labels.REPETIR_CONTRASENA}} <span class="estilo_campo_requerido">*</span></label>
          <div class="form-group">
            <input [type]="tipoContrasenaDos" placeholder="Ingrese contraseña" pInputText aria-label="Contraseña" formControlName="contrasenaRepetida">
            <p-button [icon]="iconoOjoDos" (click)="segundaContrasena()" class="p-button-text"></p-button>
            <small *ngIf="mensajeRepetirContrasena"
            class="form-text text-danger">{{mensajeRepetirContrasena}}</small>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="agregarDelegado()" label="Guardar" class="p-button-text"></p-button>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Listar Delegados">
    <p-table #dt1 [value]="listaDelegadosMostrar" dataKey="id"
      styleClass="p-datatable-customers p-datatable-gridlines" [globalFilterFields]="['nombre','apellido']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Delegado" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Nombre
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Apellido
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Identificacion
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Celular
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Rol
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Acciones
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-delegado>
        <tr>
          <td>
            {{delegado.nombre}}
          </td>
          <td>
            {{delegado.apellido}}
          </td>
          <td>
            {{delegado.identificacion}}
          </td>
          <td>
            {{delegado.celular}}
          </td>
          <td>
            {{delegado.rol}}
          </td>
          <td class="p-text-center">
            <p-button icon="pi pi-user-edit" (click)="showModalDialog(delegado)" pTooltip="Editar Delegado" tooltipPosition="top"></p-button>&nbsp;
            <p-button icon="pi pi-times-circle" (click)="eliminarDelegado(delegado)" pTooltip="Eliminar Delegado" tooltipPosition="top"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Agregar Equipo">
    <form [formGroup]="formDatosEquipo" (ngSubmit)="agregarEquipo()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.NOMBRE_EQUIPO}} <span class="estilo_campo_requerido">*</span></label>
            <input type="text" placeholder="Nombre Equipo" pInputText class="form-control" aria-label="Nombre Equipo" formControlName="nombreEquipo">
            <small *ngIf="formDatosEquipo.get('nombreEquipo')?.errors?.required"
            class="form-text text-danger">{{mensajeNombreEquipo}}</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{labels.CAMPEONATO}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="idCampeonato" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of listaCampeonatosMostrar" 
                [ngValue]="item.id">
                    {{ item.nombre_campeonato }}
                </option>
            </select>
            <small *ngIf="formDatosEquipo.get('idCampeonato')?.errors?.required"
                        class="form-text text-danger">{{mensajeCampeonato}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{labels.DELEGADO}} <span class="estilo_campo_requerido">*</span></label>
            <select formControlName="idDelegado" class="form-control">
                <option [ngValue]="null" disabled>{{labels.SELECCIONE_OPCION}}</option>
                <option *ngFor="let item of listaDelegadosMostrar" 
                [ngValue]="item.id">
                    {{ item.usuario }}
                </option>
            </select>
            <small *ngIf="formDatosEquipo.get('idDelegado')?.errors?.required"
                        class="form-text text-danger">{{mensajeDelegado}}</small>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="agregarEquipo()" label="Guardar" class="p-button-text"></p-button>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Listar Equipos">
    <p-table #dt1 [value]="listaEquiposMostrar" dataKey="id"
      styleClass="p-datatable-customers p-datatable-gridlines" [globalFilterFields]="['nombre','campeonato']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Equipo" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Nombre
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Campeonato
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Delegado
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Acciones
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-equipo>
        <tr>
          <td>
            {{equipo.nombre}}
          </td>
          <td>
            {{equipo.campeonato}}
          </td>
          <td>
            {{equipo.delegado}}
          </td>
          <td class="p-text-center">
            <p-button icon="pi pi-user-edit" (click)="showModalDialog(equipo)" pTooltip="Editar Equipo" tooltipPosition="top"></p-button>&nbsp;
            <p-button icon="pi pi-times-circle" (click)="eliminarDelegado(equipo)" pTooltip="Eliminar Equipo" tooltipPosition="top"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Editar Delegado" [(visible)]="displayModalDelegado" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <form [formGroup]="formDatosDelegadoEditar" (ngSubmit)="editarDelegado()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>{{labels.NOMBRE_DELEGADO}} <span class="estilo_campo_requerido">*</span></label>
          <input type="text" placeholder="Nombre Delegado" pInputText class="form-control" aria-label="Nombre Delegado" formControlName="nombreDelegado">
          <small *ngIf="formDatosDelegadoEditar.get('nombreDelegado')?.errors?.required"
          class="form-text text-danger">{{mensajeNombreDelegado}}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{labels.APELLIDO_DELEGADO}} <span class="estilo_campo_requerido">*</span></label>
          <input type="text" placeholder="Apellido Delegado" pInputText class="form-control" aria-label="Apellido Delegado" formControlName="apellidoDelegado">
          <small *ngIf="formDatosDelegadoEditar.get('apellidoDelegado')?.errors?.required"
          class="form-text text-danger">{{mensajeApellidoDelegado}}</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>{{labels.USUARIO}} <span class="estilo_campo_requerido">*</span></label>
          <input type="text" placeholder="Usuario" pInputText class="form-control" aria-label="Usuario" formControlName="usuario">
          <small *ngIf="formDatosDelegadoEditar.get('usuario')?.errors?.required"
          class="form-text text-danger">{{mensajeUsuario}}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{labels.IDENTIFICACION}} <span class="estilo_campo_requerido">*</span></label>
          <input type="text" placeholder="Identificacion" pInputText class="form-control" aria-label="Identificacion" formControlName="identificacion">
          <small *ngIf="formDatosDelegadoEditar.get('identificacion')?.errors?.required"
          class="form-text text-danger">{{mensajeIdentificacion}}</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>{{labels.ROL}} <span class="estilo_campo_requerido">*</span></label>
          <input type="text" disabled placeholder="Delegado" value="Delegado" pInputText class="form-control" aria-label="Rol" formControlName="idRol">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{labels.CELULAR}} <span class="estilo_campo_requerido">*</span></label>
          <input type="number" placeholder="Celular" pInputText class="form-control" aria-label="Celular" formControlName="celular">
          <small *ngIf="formDatosDelegadoEditar.get('celular')?.errors?.required"
          class="form-text text-danger">{{mensajeCelular}}</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>{{labels.CONTRASENA}} <span class="estilo_campo_requerido">*</span></label>
        <div class="form-group"> 
          <input [type]="tipoContrasenaUno" placeholder="Ingrese contraseña" pInputText aria-label="Contraseña" formControlName="contrasena">
          <p-button [icon]="iconoOjoUno" (click)="primeraContrasena()" class="p-button-text"></p-button>
          <small *ngIf="formDatosDelegadoEditar.get('contrasena')?.errors?.required"
          class="form-text text-danger">{{mensajeContrasena}}</small>
        </div>
      </div>
      <div class="col">
        <label>{{labels.REPETIR_CONTRASENA}} <span class="estilo_campo_requerido">*</span></label>
        <div class="form-group">
          <input [type]="tipoContrasenaDos" placeholder="Ingrese contraseña" pInputText aria-label="Contraseña" formControlName="contrasenaRepetida">
          <p-button [icon]="iconoOjoDos" (click)="segundaContrasena()" class="p-button-text"></p-button>
          <small *ngIf="mensajeRepetirContrasena"
          class="form-text text-danger">{{mensajeRepetirContrasena}}</small>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="editarDelegado()" label="Guardar" class="p-button-text"></p-button>
      <p-button icon="pi pi-times" (click)="displayModalDelegado=false" label="Cancelar"></p-button>
  </ng-template>
</p-dialog>